aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-doc
annotated-types
anyio
appdirs
attrs
beautifulsoup4
blinker
blis
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
confection
cryptography
curated-tokenizers
curated-transformers
cymem
dataclasses-json
datasets
dill
diskcache
distro
docstring_parser
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
en_core_web_trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.8.0/en_core_web_trf-3.8.0-py3-none-any.whl#sha256=272a31e9d8530d1e075351d30a462d7e80e31da23574f1b274e200f3fff35bf5
eval_type_backport
fastapi
filelock
frozenlist
fsspec
gitdb
GitPython
greenlet
groq
grpcio
h11
hf-xet
httpcore
httptools
httpx
httpx-sse
huggingface_hub
idna
importlib_metadata
instructor
Jinja2
jiter
joblib
jsonpatch
jsonpath-python
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-classic
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
loguru
lxml
markdown-it-py
MarkupSafe
marshmallow
mdurl
mistralai
mpmath
multidict
multiprocess
murmurhash
mypy_extensions
narwhals
nest-asyncio
networkx
nltk
numpy
ollama
openai
opentelemetry-api
opentelemetry-semantic-conventions
orjson
ormsgpack
packaging
pandas
pdfminer.six
pdfplumber
pillow
preshed
propcache
protobuf
pyarrow
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pymilvus
PyPDF2
pypdfium2
python-dateutil
python-dotenv
python-multipart
PyYAML
ragas
rank-bm25
redis
referencing
regex
requests
requests-toolbelt
rich
rpds-py
safetensors
scikit-learn
scikit-network
scipy
sentence-transformers
setuptools
shellingham
six
smart_open
smmap
sniffio
soupsieve
spacy
spacy-curated-transformers
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
starlette
streamlit
sympy
tenacity
thinc
threadpoolctl
tiktoken
tokenizers
toml
torch
tornado
tqdm
transformers
typer
typing-inspect
typing-inspection
typing_extensions
urllib3
uuid_utils
uvicorn
uvloop
wasabi
watchdog
watchfiles
weasel
websockets
wrapt
xxhash
yarl
zipp
zstandard
